# **Instituto Tecnológico Vale**

## **Elementos de Automação e Programação para Automação**

### **Aula - Programação em Python - Parte 1**

### **Professor: André Almeida Santos**

## **Por que Python?**

- Python funciona em diferentes plataformas (Windows, Mac, Linux, Raspberry Pi, etc).

- Python tem uma sintaxe simples semelhante à do idioma inglês.

- Python tem sintaxe que permite aos desenvolvedores escrever programas com menos linhas do que algumas outras linguagens de programação.

- Python é executado em um sistema interpretador, o que significa que o código pode ser executado assim que for escrito. Isso significa que a prototipagem pode ser muito rápida.

- Python pode ser tratado de maneira procedimental, funcional ou orientada a objetos.

### **Python é uma linguagem de programação popular. Foi criado por Guido van Rossum e lançado em 1991:**

A versão principal mais recente do Python é o **Python 3**, que usaremos neste tutorial.

- Python pode ser usado em um servidor para criar aplicativos da web.

- Python pode ser usado junto com software para criar fluxos de trabalho.

- Python pode se conectar a sistemas de banco de dados. Ele também pode ler e modificar arquivos.

- Python pode ser usado para lidar com big data e executar matemática complexa.

- Python pode ser usado para prototipagem rápida ou para desenvolvimento de software pronto para produção.

### **Sintaxe Python:**

- Python usa novas linhas para completar um comando, ao contrário de outras linguagens de programação que geralmente usam ponto-e-vírgula ou parênteses.

- Python depende de **indentação**, usando espaços em branco, para definir o escopo; como o escopo de loops, funções e classes. Outras linguagens de programação costumam usar chaves para esse propósito.

- Comentários de uma linha com Python são feitos com #.

In [ ]:
# Isso é um comentario:

# A celula abaixo é uma célula de código a ser executada

In [ ]:
print('Hello, World!') # comentário pode estar na célula de código também!

Hello, World!

## **Vamos começar?** 

Primeiro vamos verificar a versão do python aqui no google colab!

In [ ]:
!python --version

Python 3.7.12

## **Variáveis e tipos de dados**

### Variáveis são contêineres para armazenar valores de dados.

Python não tem comando para declarar uma variável.

Uma variável é criada no momento em que você atribui um valor a ela.

### **Nomes de variáveis**.

Regras para variáveis Python:

- Um nome de variável deve começar com uma letra ou o caractere de sublinhado

- O nome de uma variável não pode começar com um número

- Um nome de variável pode conter apenas caracteres alfanuméricos e sublinhados (A-z, 0-9 e _)

- Os nomes das variáveis diferenciam maiúsculas de minúsculas (Idade, idade e IDADE são três variáveis diferentes)

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"

In [ ]:
print(myvar, my_var, _my_var)

John John John

### **Tipos numéricos**

In [ ]:
x = 5

In [ ]:
print(x)

5

In [ ]:
print(type(x))

<class 'int'>

In [ ]:
x = 5.0

In [ ]:
print(type(x))

<class 'float'>

In [ ]:
y = int(5.4)

print(y)

print(type(y))

5
<class 'int'>

### **Booleanos**

Python implementa todos os operadores usuais para lógica booleana, mas usa palavras em inglês em vez de símbolos (&&, ||, etc.):

In [ ]:
t, f = True, False

print(t)
print(type(t))

True
<class 'bool'>

In [ ]:
print(f)
print(type(f))

False
<class 'bool'>

Agora vamos dar uma olhada nas operações:

In [ ]:
print(t and f) # Logical AND;

False

In [ ]:
print(t or f)  # Logical OR;

True

In [ ]:
print(not t)   # Logical NOT;

False

In [ ]:
print(t != f)  # Logical XOR;

True

In [ ]:
print(t == f)

False

In [ ]:
# Três variáveis

t1 = True
f = False
t2 = False

In [ ]:
# Testar lógica booleana com as três variáveis aqui.

print(t1 and f or not t2)

True

### **Strings**

Strings são sequências imutáveis de caracteres Unicode.

In [ ]:
hello = 'hello'   # Literais de string podem usar aspas simples
world = "world"   # ou aspas duplas; isso não importa

print(hello, len(hello))

hello 5

In [ ]:
# Concatenação de Strings

hw = hello + ' ' + world + 'na aula de hoje' 
print(hw)

hello world na aula de hoje

In [ ]:
# formatação de string

hw_ = 'formatando o {} {}'.format(hello, world)
print(hw_)

formatando o hello world

In [ ]:
# formatação de string usando f''

hw_ = f'Formatando o {hello} {world}'
print(hw_)

Formatando o hello world

In [ ]:
# Formatando texto com variável numérica

x1 = 5
x2 = 10.2

print(f'Estou afirmando que: {x1:.3f} é menor do que {x2:.5f}')

Estou afirmando que: 5.000 é menor do que 10.20000

Os objetos String têm vários métodos úteis nativos do python; 

Por exemplo:

In [ ]:
# Variavel s com nome hello

s = "hello"

print(s)

hello

In [ ]:
# Capitalizar uma string (primeira letra maiuscula)

print(s.capitalize())

Hello

In [ ]:
# Converter a string pra maisculas; resultado é: "HELLO"

print(s.upper())

HELLO

In [ ]:
# Justificar a direita, adicionando espaços em branco

print(s.rjust(15))

          hello

In [ ]:
# Centrar uma string, usando espaços em branco

print(s.center(15))

     hello

In [ ]:
# Trocar todas as ocorrencias de uma string com outra

print(s.replace('l', 'L'))

heLLo

In [ ]:
# Remover espaços em branco do começo e final da string

print('  world  ')
print('  world  '.strip())

  world
world

Você pode encontrar uma lista de todos os métodos de string na [documentação](https://docs.python.org/3.7/library/stdtypes.html#string-methods).

## **Operações básicas**

In [ ]:
x = 5

x + 1

6

In [ ]:
# Soma

print(x + 1)

7

In [ ]:
# subtração

print(x - 1)

4

In [ ]:
# Multiplicação

print(x * 2)

10

In [ ]:
# mesmo que x = x + 1

x += 1 
print(x)

6

In [ ]:
# Exponenciação

print(x ** 3)

216

In [ ]:
# Divisão

print(x / 2)

3.0

In [ ]:
# Divisão inteira

print(x // 2)

3

In [ ]:
# Resto

print(x % 2)

0

In [ ]:
# mesmo que x = x * 2

x *= 2 
print(x)

12

In [ ]:
# Número complexo 

print(complex(2,3))

(2+3j)

In [ ]:
n_complexo = complex(2,3)
print(n_complexo + 8j)

(2+11j)

Todos os detalhes estão na [documentação](https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex) do python.

## **Comparações**

Existem oito operações de comparação em Python. Veja a descrição na [documentação](https://docs.python.org/3/library/stdtypes.html#comparisons)

In [ ]:
5 < 3

False

In [ ]:
10 > 5

True

In [ ]:
# Atribuindo True e False para t e f

t = True
f = False

In [ ]:
t == f

False

In [ ]:
t != f

True

## **Entrada de usuário**

A função input() permite a entrada de dados do usuário.

In [ ]:
input('Digite algo aqui: ')

Digite algo aqui: jshfkjashfkjasbflasgfalk

'jshfkjashfkjasbflasgfalk'

In [ ]:
print('Digite seu nome:')

x = input()

print(f'Olá, {x}!')

Digite seu nome:
andre
Olá, andre!

In [ ]:
print(type(x))

<class 'str'>

In [ ]:
# Entrada padrão

print('Digite um número inteiro:')
num = input()

print(type(num))

Digite um número inteiro:
5
<class 'str'>

In [ ]:
# Entrada com casting da variável

print('Digite um número inteiro:')

num = int(input())

print(type(num))

Digite um número inteiro:
4
<class 'float'>

In [ ]:
# Colocando o texto direto no input...

num = int(input('Digite um número inteiro: '))
print(num)

Digite um número inteiro: 4
4

### **Informações dos dados de input**

In [ ]:
num = input('Digite algo... ')

Digite algo... 45

In [ ]:
# info da variável

num.isnumeric()

False

## **Desafio 01:**

Escreva um código que leia dois números complexos do usuário e calcule a soma entre eles.

In [ ]:
r1 = int(input('Digite o valor real do primeiro número: '))
im1 = int(input('Digite o valor imaginário do primeiro número: '))

r2 = int(input('Digite o valor real do segundo número: '))
im2 = int(input('Digite o valor imaginário do segundo número: '))

c1 = complex(r1, im1)
c2 = complex(r2, im2)

print(f'A soma dos números complexos é: {c1+c2}')

Digite o valor real do primeiro número: 5
Digite o valor imaginário do primeiro número: 8
Digite o valor real do segundo número: 10
Digite o valor imaginário do segundo número: 9
A soma dos números complexos é: (15+17j)

## **Desafio 02:**

Escreva um código que leia algo do usuário e mostre na tela o tipo do dado e, pelo menos, 4 informações possíveis sobre ele. 

Ex: 

Tipo do dado é string

A variável é alfanumérica

.

.

.

.

In [ ]:
dado = input('Digite algo aqui: ')

print(f'Tipo de dado é: {type(dado)}')

print(f'A variável é numérica: {dado.isnumeric()}')
print(f'A variável é alfanumérica: {dado.isalnum()}')
print(f'A variável é alfabética: {dado.isalpha()}')
print(f'A variável é um dígito: {dado.isdigit()}')

Digite algo aqui: 45
Tipo de dado é: <class 'str'>
A variável é numérica: True
A variável é alfanumérica: True
A variável é alfabética: False
A variável é um dígito: True

## **Condições Python e instruções If**

Python suporta as condições lógicas usuais da matemática.

Vamos ver a condição **if**

In [ ]:
a = 33
b = 200

if b > a:
  print("b é maior do que a")

b é maior do que a

A palavra-chave **elif** é a forma de python de dizer "se as condições anteriores não eram verdadeiras, tente esta outra condição".

senão se <condição>

In [ ]:
a = 33
b = 33

if b > a:
  print("b é maior do que a")
elif a == b:
  print("a e b são iguais")

a e b são iguais

A palavra-chave **else** captura qualquer coisa que não seja capturada pelas condições anteriores.

In [ ]:
a = 200
b = 30

print('Estou aqui nesse fluxo')

if b > a:
  print('entrei no teste condicional if')
  print("b é maior do que a")
elif a == b:
  print('entrei no teste condicional elif')
  print("a e b são iguais")
else:
  print('Entrou no no ultimo teste else')
  print("a é maior do que b")
  print(f'{a} é maior do que {b}')

print('Sai do teste condicional e voltei para o fluxo normal')

Estou aqui nesse fluxo
Entrou no no ultimo teste else
a é maior do que b
200 é maior do que 30
Sai do teste condicional e voltei para o fluxo normal

**Nota:** Tudo que estiver no bloco identado será executado.

Caso haja apenas uma instrução a ser executada, você pode colocar na mesma linha da instrução if

In [ ]:
if a > b: print("a é maior do que b")

a é maior do que b

**Nota:** No resultado acima há duas condições verdadeiras. Mas, no teste elif quando a primeira é encontarda os próximos testes nem são realizados.

## **Python Loops**

Loops podem ser criados com **for** ou **while**

#### **While Loop**

Com o loop while, podemos executar um conjunto de instruções, desde que uma condição seja verdadeira.

In [ ]:
#Imprima i, desde que i seja menor que 6:

i = 1

while i < 6:
  print(i)
  i += 1

1
2
3
4
5

**Nota:** lembre-se de incrementar i, ou então o loop continuará para sempre.

In [ ]:
# loop infinito

while True:
  print('Loop infinito!!!')

**A declaração de quebra**

Com a instrução **break**, podemos parar o loop mesmo se a condição while for verdadeira:

In [ ]:
i = 1

while i < 10:
  print(i)

  if i == 6:
    break
    
  i += 1

1
2
3
4
5
6

**A declaração continue**

Com a instrução **continue**, podemos parar a iteração atual e continuar com a próxima:

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    print('imprimindo meu i=3')
    continue
  print(i)

1
2
imprimindo meu i=3
4
5
6

**A declaração else**

Com a instrução **else**, podemos executar um bloco de código uma vez, quando a condição não for mais verdadeira:

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i deixou de ser menor do que 6")

1
2
3
4
5
i deixou de ser menor do que 6

#### **For Loop**

Um loop for é usado para iterar sobre uma sequência (que é uma lista, uma tupla, um dicionário, um conjunto ou uma string).

Isso é menos parecido com a palavra-chave for em outras linguagens de programação e funciona mais como um método iterador encontrado em outras linguagens de programação orientadas a objetos.

Com o loop for, podemos executar um conjunto de instruções, uma vez para cada item em uma lista, tupla, conjunto etc.

In [ ]:
objetos = ['cadeira', 'cama', 'mesa']

for x in objetos:
  print(x)

cadeira
cama
mesa

In [ ]:
# Loop por uma string:

for letra in "cadeira":
  print(letra)

c
a
d
e
i
r
a

In [ ]:
# break statement

for x in objetos:
  print(x)
  if x == 'cama':
    break

cadeira
cama

In [ ]:
# continue statement

for x in objetos:
  if x == 'cama':
    continue
  print(x)

cadeira
mesa

**For com a função range()**

Para percorrer um conjunto de código um determinado número de vezes, podemos usar a função range().

A função range() retorna uma sequência de números, começando em 0 por padrão, e incrementos em 1 (por padrão), e termina em um número especificado.

In [ ]:
# Usando o range()

range(5)

range(0, 5)

In [ ]:
# Atribuindo o range em uma variável

numeros = range(5)

print(numeros)

range(0, 5)

In [ ]:
# Loop pelo range

for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
# range com inicio,fim

for x in range(2,16):
  print(x)

2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
# range com inicio,fim,passo

for x in range(2,16,3):
  print(x)

2
5
8
11
14

In [ ]:
# else para indicar final do loop

for x in range(6):
  print(x)
else:
  print("finalmente terminou!")

0
1
2
3
4
5
finalmente terminou!

**Nota:** O bloco **else** NÃO será executado se o loop for interrompido por uma instrução break.

In [ ]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("finalmente terminou!")

0
1
2

**Loops aninhados**

O "loop interno" será executado uma vez para cada iteração do "loop externo":

In [ ]:
adj = ["red", "big", "tasty"]
frutas = ["apple", "banana", "cherry"]

for x in adj:
  print('loop externo')
  for y in frutas:
    print('loop interno')
    print(x, y)

loop externo
loop interno
red apple
loop interno
red banana
loop interno
red cherry
loop externo
loop interno
big apple
loop interno
big banana
loop interno
big cherry
loop externo
loop interno
tasty apple
loop interno
tasty banana
loop interno
tasty cherry

### **Exemplo:**

Desenvolva um programa que leia o primeiro termo e a razão de PA e mostre os 10 primeiros termos dessa progressão.

A equação da PA é: 

$a_n = a_1 + (n-1) \cdot r$

In [ ]:
a1 = int(input('Digite a primeiro termo da PA: '))
r = int(input('Digite a razão da PA: '))

for n in range(1,11):
  print(a1 + (n-1)*r)

Digite a primeiro termo da PA: 5
Digite a razão da PA: 3
5
8
11
14
17
20
23
26
29
32

## **Desafio 03:**

Faça um programa que leia o ano de nascimento de um atleta e mostre sua idade e categoria, de acordo com a idade:
- Até 9 anos: MIRIM
- Até 14 anos: INFANTIL
- Até 19 anos: JÚNIOR
- Até 25 anos: SÊNIOR
- Acima de 25 anos: MASTER


*Exemplo de mensagem para o programa:

O atleta tem X anos.

Classificação: Y

In [ ]:
print('*' * 50)
print('Classificações para o atleta:')
print('*' * 50)
print('Até 9 anos: MIRIM')
print('Até 14 anos: INFANTIL')
print('Até 19 anos: JÚNIOR')
print('Até 25 anos: SÊNIOR')
print('Acima de 25 anos: MASTER')
print('*' * 50)

ano = int(input('Digite o ano de nascimento do atleta: '))

idade = 2021 - ano

if idade <= 9:
  categoria = 'Mirim'
elif idade > 9 and idade <= 14:
  categoria = 'Infantil'
elif idade > 14 and idade <= 19:
  categoria = 'Júnior'
elif idade > 19 and idade <= 25:
  categoria = 'Sênior'
else:
  categoria = 'Master'

print(f'O atleta tem {idade} anos de idade.')
print(f'Classificação: {categoria}')

**************************************************
Classificações para o atleta:
**************************************************
Até 9 anos: MIRIM
Até 14 anos: INFANTIL
Até 19 anos: JÚNIOR
Até 25 anos: SÊNIOR
Acima de 25 anos: MASTER
**************************************************
Digite o ano de nascimento do atleta: 2015
O atleta tem 6 anos de idade.
Classificação: Mirim

## **Coleções em Python**

Python inclui vários tipos de containers integrados: listas (list), dicionários (dict), conjuntos unicos (sets) e tuplas (tuples).

#### **Listas**

- As listas são usadas para armazenar vários itens em uma única variável.

- As listas são criadas usando colchetes [].

- Os itens da lista são ordenados, alteráveis e permitem valores duplicados.

- Os itens da lista são indexados, o primeiro item tem o índice [0], o segundo item tem o índice [1] etc.

In [ ]:
# Criando uma lista

lista1 = ['maça', 'banana', 'limao']

print(lista1)

['maça', 'banana', 'limao']

In [ ]:
print(type(lista1))

<class 'list'>

In [ ]:
# valor duplicado

lista2 = ['maça', 'banana', 'limao', 'maça']
print(lista2)

['maça', 'banana', 'limao', 'maça']

In [ ]:
# Tamanho da lista

print(len(lista2))

4

In [ ]:
# ista dentro de uma lista

lista3 = ['maça', 'banana', ['limao', 'uva']]
print(lista3)

['maça', 'banana', ['limao', 'uva']]

In [ ]:
len(lista3[2][0])

5

In [ ]:
# Os itens da lista são indexados e você pode acessá-los referindo-se ao número do índice

print(lista3[2])

['limao', 'uva']

In [ ]:
# Os índices negativos contam a partir do final da lista

print(lista3[-2])

banana

Você pode especificar um intervalo de índices, especificando onde começar e onde terminar o intervalo.

Ao especificar um intervalo, o valor de retorno será uma nova lista com os itens especificados.

Fatiamento de lista

In [ ]:
thislist = ["maça", "banana", "cereja", "laranja", "kiwi", "melao", "manga"]

print(thislist[1:6])

['banana', 'cereja', 'laranja', 'kiwi', 'melao']

Uma lista pode conter diferentes tipos de dados

In [ ]:
lista4 = ["abc", 34, True, 40.5, "male"]
print(lista4)
print(type(lista4))

['abc', 34, True, 40.5, 'male']
<class 'list'>

Para inserir um novo item da lista, sem substituir nenhum dos valores existentes, podemos usar o método insert().

O método insert() insere um item no índice especificado.

In [ ]:
frutas = ["maça", "banana", "laranja"]
print(f'lista original: {frutas}')

lista original: ['maça', 'banana', 'laranja']

In [ ]:
frutas.insert(2, "melancia")

print(f'lista alterada: {frutas}')

lista alterada: ['maça', 'banana', 'melancia', 'laranja']

Para adicionar um item ao final da lista, use o método append():

In [ ]:
frutas = ["maça", "banana", "laranja"]
print(f'lista original: {frutas}')

lista original: ['maça', 'banana', 'laranja']

In [ ]:
frutas.append("melao")
print(f'lista alterada com append(): {frutas}')

lista alterada com append(): ['maça', 'banana', 'melancia', 'laranja', 'melao']

Para anexar elementos de outra lista à lista atual, use o método extend().

In [ ]:
frutas1 = ['maça', 'banana', 'laranja']
frutas2 = ['manga', 'melancia', 'melao']

frutas1.extend(frutas2)
print(frutas1)

['maça', 'banana', 'laranja', 'manga', 'melancia', 'melao']

O método remove() remove o item especificado.

In [ ]:
frutas1.remove('banana')
print(frutas1)

['maça', 'laranja', 'manga', 'melancia', 'melao']

O método pop() remove o índice especificado.

Se você não especificar o índice, o método pop() remove o último item.

In [ ]:
# Sem parâmetro remove o último dado

frutas1.pop()
print(frutas1)

['maça', 'laranja', 'manga', 'melancia']

In [ ]:
# Com parâmetro remove o índice especificado

frutas1.pop(2)
print(frutas1)

['maça', 'laranja', 'melancia']

**Percorrer uma lista**

Você pode percorrer os itens da lista usando um loop for.

In [ ]:
frutas = ["maça", "banana", "cereja", "laranja", "kiwi", "melao", "manga"]

for x in frutas:
  print(x)

maça
banana
cereja
laranja
kiwi
melao
manga

Se você quiser acessar o índice de cada elemento dentro do corpo de um loop, use a função incorporada enumerate():

In [ ]:
animals = ['cat', 'dog', 'monkey']

for idx, animal in enumerate(animals):
    print(f'{idx} : {animal}')

0 : cat
1 : dog
2 : monkey

**Looping usando compreensão de lista**

Compreensão de lista oferece a sintaxe mais curta para percorrer listas.

Ao programar, frequentemente queremos transformar um tipo de dado em outro. Como um exemplo simples, considere o seguinte código que calcula números quadrados:

In [ ]:
nums = [0, 1, 2, 3, 4]

squares = []

for x in nums:
    squares.append(x ** 2)

print(squares)

[0, 1, 4, 9, 16]

Você pode tornar este código mais simples usando uma **compreensão de lista**:

In [ ]:
nums = [0, 1, 2, 3, 4]

squares = [x ** 2 for x in nums]

print(squares)

[0, 1, 4, 9, 16]

As compreensões de lista também podem conter condições:

In [ ]:
nums = [0, 1, 2, 3, 4]

even_squares = [x ** 2 for x in nums if x % 2 == 0]

print(even_squares)

[0, 4, 16]

Exemplo com as frutas...

In [ ]:
frutas = ["maça", "banana", "cereja", "laranja", "kiwi", "melao", "manga"]

newlist = [x for x in frutas if x != "maça"]

print(newlist)

['banana', 'cereja', 'laranja', 'kiwi', 'melao', 'manga']

In [ ]:
# Outra forma de criar a lista

lista_nova = list()

print(lista_nova)

[]

Para mais informações veja a [documentaçao](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists)

#### **Tuplas**

- Tuplas são usadas para armazenar vários itens em uma única variável.

- Uma tupla é uma coleção ordenada e imutável:
  - não podemos mudar, adicionar ou remover itens após a tupla ter sido criada.

- As tuplas são escritas com parênteses ().

- Os itens de tupla são ordenados, imutáveis e permitem valores duplicados.

- Os itens de tupla são indexados, o primeiro item tem índice [0], o segundo item tem índice [1], etc.

In [ ]:
tupla0 = tuple()

print(tupla0)

()

In [ ]:
# Criando uma tupla

tupla1 = ('maça', 'banana', 'melao')

print(tupla1)
print(type(tupla1))

('maça', 'banana', 'melao')
<class 'tuple'>

In [ ]:
# tamanho da tupla
print(len(tupla1))

3

Você pode acessar itens de tupla referindo-se ao número do índice, entre colchetes

In [ ]:
frutas = ("maça", "banana", "cereja", "laranja", "kiwi", "melao", "manga")

print(frutas[0])

maça

In [ ]:
print(frutas[-1])

manga

In [ ]:
print(frutas[2:6])

('cereja', 'laranja', 'kiwi', 'melao')

Como as tuplas são imutáveis temos que usar uma soluçao alternativa para altera-lá. :)

Converta a tupla em lista, altere a lista e depois converta novamente em tupla.

In [ ]:
x = ("apple", "banana", "cherry")
print(x)

y = list(x)
print(y)

y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'banana', 'cherry')
['apple', 'banana', 'cherry']
('apple', 'kiwi', 'cherry')

**Desempacotando uma tupla**

Quando criamos uma tupla, normalmente atribuímos valores a ela. Isso é chamado de "compactação" de uma tupla.

In [ ]:
# Empacotando a tupla

frutas = ('maça', 'banana', 'uva')

In [ ]:
# Desempacotando a tupla

(green, yellow, red) = frutas

print(green)
print(yellow)
print(red)

maça
banana
uva

**Nota:** O número de variáveis deve corresponder ao número de valores na tupla, caso contrário, você deve usar um asterisco para coletar os valores restantes como uma lista.

In [ ]:
frutas = ("maça", "banana", "cereja", "morango", "framboesa")

(green, yellow, *red) = frutas

print(green)
print(yellow)
print(red)

maça
banana
['cereja', 'morango', 'framboesa']

In [ ]:
# Também podemos fazer o loop sobre a tupla como fizemos na lista

frutas = ("maça", "banana", "cereja", "morango", "framboesa")

for fruta in frutas:
  print(f'A fruta é: {fruta}')

A fruta é: maça
A fruta é: banana
A fruta é: cereja
A fruta é: morango
A fruta é: framboesa

Python tem dois métodos integrados que você pode usar em tuplas:

- O método count() retorna o número de vezes que um valor especificado aparece na tupla.

- O método index() encontra a primeira ocorrência do valor especificado.

In [ ]:
frutas = ("maça", "banana", "cereja", "morango", "framboesa", 'cereja')

In [ ]:
print(frutas.count('maça'))

1

In [ ]:
print(frutas.index('maça'))

0

In [ ]:
print(frutas.count('cereja'))

2

In [ ]:
print(frutas.index('cereja'))

2

#### **Sets**

- Os conjuntos são usados para armazenar vários itens em uma única variável.

- Um conjunto é uma coleção não ordenada e indexada:
  - portanto, você não pode ter certeza em qual ordem os itens aparecerão.

- Os conjuntos são escritos com chaves {}.

- Os itens definidos não são ordenados, não podem ser alterados e não permitem valores duplicados.

- Depois que um conjunto é criado, você não pode alterar seus itens, mas pode adicionar novos itens.

In [ ]:
frutas = {'maça', 'banana', 'uva', 'limao'}

In [ ]:
print(frutas)

{'limao', 'maça', 'uva', 'banana'}

In [ ]:
# Criando set com valor duplicado 
frutas = {'maça', 'banana', 'uva', 'limao', 'banana'}

In [ ]:
print(frutas)

{'limao', 'maça', 'uva', 'banana'}

Você não pode acessar itens em um conjunto referindo-se a um índice ou chave.

Mas você pode percorrer os itens do conjunto usando um loop **for**, ou perguntar se um valor especificado está presente em um conjunto, usando a palavra-chave **in**.

In [ ]:
for fruta in frutas:
  print(fruta)

limao
maça
uva
banana

In [ ]:
print('melao' in frutas)

False

Para adicionar ou remover dados use as funções **add()** e **remove()**:

In [ ]:
# Adicionando novos dados e removendo dados

frutas = {'maça', 'banana', 'uva', 'limao', 'banana'}
print(frutas)

frutas.add('framboesa')
print(frutas)

{'limao', 'maça', 'uva', 'banana'}
{'limao', 'uva', 'maça', 'banana', 'framboesa'}

In [ ]:
frutas.add('melao')
print(frutas)

{'limao', 'uva', 'maça', 'melao', 'banana', 'framboesa'}

In [ ]:
frutas.add('melancia')
print(frutas)

{'limao', 'uva', 'melancia', 'maça', 'melao', 'banana', 'framboesa'}

In [ ]:
frutas.remove('melancia')
print(frutas)

{'limao', 'uva', 'maça', 'melao', 'banana', 'framboesa'}

Python tem um conjunto de métodos integrados que você pode usar nos sets. Veja a documentação para mais informações.

#### **Dicionários**

- Os dicionários são usados para armazenar valores de dados em pares chave: valor.

- Um dicionário é uma coleção ordenada, modificável e não permite duplicatas.

- Os dicionários são escritos com chaves e têm chaves e valores: {chave:valor}

- Os dicionários podem ser alterados, o que significa que podemos alterar, adicionar ou remover itens após a criação do dicionário.

In [ ]:
dict = {'marca':'Ford',
        'modelo':'Mustang',
        'ano':'1964'}

In [ ]:
print(dict)

{'marca': 'Ford', 'modelo': 'Mustang', 'ano': '1964'}

In [ ]:
#Criando dicionário com dado duplicado

dict2 = {'marca':'Ford',
        'modelo':'Mustang',
        'ano':'1964',
        'ano':'1965'}

In [ ]:
print(dict2)

{'marca': 'Ford', 'modelo': 'Mustang', 'ano': '1965'}

In [ ]:
#Tamanho do dicionário

print(len(dict))

3

Os valores nos itens do dicionário podem ser de qualquer tipo de dados

In [ ]:
dict3 = {
    'marca':'Ford',
    'modelo':'Mustang',
    'eletrico':False,
    'ano':1964,
    'cores':['vermelho', 'branco', 'azul']
}

In [ ]:
print(dict3)

{'marca': 'Ford', 'modelo': 'Mustang', 'eletrico': False, 'ano': 1964, 'cores': ['vermelho', 'branco', 'azul']}

In [ ]:
print(type(dict3))

<class 'dict'>

Acessando elementos pela **chave** ou método **get()**

In [ ]:
print(dict3['modelo'])

Mustang

In [ ]:
print(dict3['ano'])

1964

In [ ]:
print(dict3.get('eletrico'))

False

In [ ]:
# A função get tem um paraâmetro caso a chave não exista

print(dict3.get('eletricoo', 'não há essa informação no dicionário'))

não há essa informação no dicionário

O método **keys()** retornará uma lista de todas as chaves do dicionário.

In [ ]:
dict3.keys()

dict_keys(['marca', 'modelo', 'eletrico', 'ano', 'cores'])

A lista de chaves é uma visualização do dicionário, o que significa que quaisquer alterações feitas no dicionário serão refletidas na lista de chaves.

In [ ]:
carro = {
    'marca':'Ford',
    'modelo':'Mustang',
    'ano':1964
}

In [ ]:
print(carro)

{'marca': 'Ford', 'modelo': 'Mustang', 'ano': 1964}

In [ ]:
x = carro.keys()
print(x)

dict_keys(['marca', 'modelo', 'ano'])

In [ ]:
carro['cor'] = 'branco'

In [ ]:
print(carro)

{'marca': 'Ford', 'modelo': 'Mustang', 'ano': 1964, 'cor': 'branco'}

In [ ]:
x = carro.keys()
print(x)

dict_keys(['marca', 'modelo', 'ano', 'cor'])

O método **values()** retornará uma lista de todos os valores no dicionário.

In [ ]:
y = carro.values()

In [ ]:
print(y)

dict_values(['Ford', 'Mustang', 1964, 'branco'])

In [ ]:
# Alterando um valor no dicionário criado
carro['cor'] = 'preto'

In [ ]:
y = carro.values()
print(y)

dict_values(['Ford', 'Mustang', 1964, 'preto'])

In [ ]:
carro

{'ano': 1964, 'cor': 'preto', 'marca': 'Ford', 'modelo': 'Mustang'}

O método **items()** retornará cada item em um dicionário, como tuplas em uma lista.

In [ ]:
items = carro.items()

print(items)

dict_items([('marca', 'Ford'), ('modelo', 'Mustang'), ('ano', 1964), ('cor', 'preto')])

O método **update()** atualizará o dicionário com os itens do argumento fornecido.

Se o item não existir será criado um novo.

In [ ]:
carro

{'ano': 1964, 'cor': 'preto', 'marca': 'Ford', 'modelo': 'Mustang'}

In [ ]:
carro.update({'eletrico':True})

In [ ]:
carro

{'ano': 1964,
 'cor': 'preto',
 'eletrico': True,
 'marca': 'Ford',
 'modelo': 'Mustang'}

In [ ]:
carro.update({'eletrico':False})

In [ ]:
carro

{'ano': 1964,
 'cor': 'preto',
 'eletrico': False,
 'marca': 'Ford',
 'modelo': 'Mustang'}

In [ ]:
carro.update({'km_rodado':500})

In [ ]:
carro

{'ano': 1964,
 'cor': 'preto',
 'eletrico': False,
 'km_rodado': 500,
 'marca': 'Ford',
 'modelo': 'Mustang'}

In [ ]:
carro.update({'cambio':'manual'})

In [ ]:
carro

{'ano': 1964,
 'cambio': 'manual',
 'cor': 'preto',
 'eletrico': False,
 'km_rodado': 500,
 'marca': 'Ford',
 'modelo': 'Mustang'}

O método **pop()** remove o item com o nome de chave especificado.

In [ ]:
carro.pop('eletrico')

False

In [ ]:
carro

{'ano': 1964,
 'cambio': 'manual',
 'cor': 'preto',
 'km_rodado': 500,
 'marca': 'Ford',
 'modelo': 'Mustang'}

Você pode percorrer um dicionário usando um loop for.

Ao percorrer um dicionário, os valores de retorno são as chaves do dicionário, mas também existem métodos para retornar os valores.

In [ ]:
for x in carro:
  print(x)

marca
modelo
ano
cor
km_rodado
cambio

In [ ]:
# usando for para mostrar values

for x in carro:
  print(carro[x])

Ford
Mustang
1964
preto
500
manual

In [ ]:
for x in carro.values():
  print(x)

Ford
Mustang
1964
preto
500
manual

In [ ]:
# usando for para mostrar items

for x, y in carro.items():
  print(x, y)

marca Ford
modelo Mustang
ano 1964
cor preto
km_rodado 500
cambio manual

Um dicionário pode conter dicionários, isso é chamado de dicionários aninhados.

In [ ]:
familia = {
    'pai': {
        'nome':'Joao',
        'idade': 30
    },

    'mae': {
        'nome':'Maria',
        'idade': 30
    },

    'filho': {
        'nome':'pedro',
        'idade': 5
    }
}

In [ ]:
familia

{'filho': {'idade': 5, 'nome': 'pedro'},
 'mae': {'idade': 30, 'nome': 'Maria'},
 'pai': {'idade': 30, 'nome': 'Joao'}}

**Nota:** Podemos também criar os três dicionários separados (pai, mae, filho) e depois adicioná-los no dicionário família.

In [ ]:
# E para adicionar um novo dado nesse dicionário???

familia['pai'].update({'profissao':'professor'})
familia['mae'].update({'profissao':'advogada'})

In [ ]:
familia

{'filho': {'idade': 5, 'nome': 'pedro'},
 'mae': {'idade': 30, 'nome': 'Maria', 'profissao': 'advogada'},
 'pai': {'idade': 30, 'nome': 'Joao', 'profissao': 'professor'}}

In [ ]:
# Acessando os dados pelas chaves com []

familia['mae']['profissao']

'advogada'

Compreensões de dicionário: são semelhantes às compreensões de lista, mas permitem que você crie dicionários facilmente. Por exemplo:

In [ ]:
nums = [0, 1, 2, 3, 4, 5, 6]

even_num_to_square = {x: x ** 2 for x in nums if x % 2 == 0}
print(even_num_to_square)

{0: 0, 2: 4, 4: 16, 6: 36}

Para mais informações veja a [documentação](https://docs.python.org/3/tutorial/datastructures.html#dictionaries)

## **Desafio 04:**

Crie um programa que leia uma quantidade indeterminada de números do usuário e coloque-os em uma lista. Depois disso mostre:

a) Quantos números foram digitados

b) A lista de valores ordenada de forma decrescente

c) Se o valor 8 foi digitado e está ou não na lista 

**Dica:** Solicite ao usuário se deseja ou não continuar a inserir números na lista. Esta é sua condição de parada.

In [ ]:
lista = list()

while True:
  x = int(input('Digite um número inteiro para ser adicionado na lista: '))
  lista.append(x)

  check = input('Deseja continuar adicionando numeros na lista? s/n: ')

  if check == 's':
    continue
  elif check == 'n':
    break

print(f'Foram digitados {len(lista)} números na lista')
print(f'A lista em ordem decrescente é: {sorted(lista, reverse=True)}')

if (8 in lista):
  print('O número 8 foi digitado na lista')
else:
  print('O número 8 não foi digitado na lista')

Digite um número inteiro para ser adicionado na lista: 4
Deseja continuar adicionando numeros na lista? s/n: n
Foram digitados 1 números na lista
A lista em ordem decrescente é: [4]
O número 8 não foi digitado na lista

### Agora que você já está familiarizado com Python, vamos conhecer algumas bibliotecas.

As bibliotecas e pacotes Python são um conjunto de módulos e funções úteis que minimizam o uso de código em nossa vida cotidiana. Existem mais de 300.000 projetos de bibliotecas para Python, prontos para facilitar a programação dos desenvolvedores. Essas bibliotecas e pacotes destinam-se a uma variedade de soluções modernas.

Mais informações sobre as bibliotecas e instalação, você pode encontrar [aqui](https://pypi.org/)

Considerando uma biblioteca já instalada (no seu computador ou aqui no colab) basta importá-la no código python para usá-la:

import nome_da_biblioteca

ou

import nome_da_biblioteca as apelido_para_biblioteca

In [ ]:
# importando a biblioteca numpy

import numpy

In [ ]:
# importando a biblioteca numpy e dando um apelido de np

import numpy as np

Alguns links com dicas de bibliotecas:

[As 30 melhores bibliotecas e pacotes Python para Iniciantes](https://terminalroot.com.br/2019/12/as-30-melhores-bibliotecas-e-pacotes-python-para-iniciantes.html)

[5 melhores bibliotecas Python para iniciantes em análise de dados](https://www.bixtecnologia.com.br/5-melhores-bibliotecas-python-para-iniciantes-em-analise-de-dados/)

[Melhores Bibliotecas Python para Aprendizagem de Máquinas](https://datascience.eu/pt/programacao/melhores-bibliotecas-python-para-aprendizagem-de-maquinas/)

## **Desafio 05:**

Altere o desafio 03 para usar a biblioteca **datetime** e pegar o valor do ano atual pela biblioteca.

As informações da biblioteca datetime você encontra [aqui](https://docs.python.org/3/library/datetime.html).

In [ ]:
import datetime

ano = int(input(f'Digite o ano de nascimento do atleta: '))

ano_atual = datetime.datetime.now().year

idade = ano_atual - ano

if idade <= 9:
  categoria = 'Mirim'
elif idade > 9 and idade <= 14:
  categoria = 'Infantil'
elif idade > 14 and idade <= 19:
  categoria = 'Júnior'
elif idade > 19 and idade <= 25:
  categoria = 'Sênior'
else:
  categoria = 'Master'

print(f'O atleta tem {idade} anos de idade.')
print(f'Classificação: {categoria}')

Digite o ano de nascimento do atleta: 2011
O atleta tem 10 anos de idade.
Classificação: Infantil

In [ ]:
ano_atual

2021

In [ ]:
datetime.datetime.now()

13